body {
  background-color: rgb(182, 112, 247);
}

header {
  display: flex;
  height: 90px;
  background-color: blueviolet;
}

img {
  height: 75px;
  margin-top: 8px;
  margin-left: 10px;
}
.container {
  font-size: 1.3em;
  display: flex;
  text-align: center;
  align-items: center;
  border: 2px solid black;
}

h1 {
  font-size: 2.5em;
  margin-left: 200px;
  margin-bottom: 40px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  color: white;
  font-size: 0.75em;
  text-align: center;
  background-color: black;
}

table {
  margin-top: 50px;
  margin-bottom: 70px;
  border: 2px solid black;
  border-collapse: collapse;
  background-color: rgb(111, 246, 141);
}

th,
td {
  text-align: center;
  border: 2px solid black;
  height: 30px;
  width: 70px;
}

article {
  font-size: 1.15em;
  margin-top: 50px;
  text-align: center;
}

iframe {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
p {
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
}

h4 {
  text-align: center;
}
